<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>project1</title>
    <link rel="stylesheet" href="/css/booking.css">
</head>
<body>
    <div class="loginform">
        <div class="container">
        <form action="/enterlink" method="post">
         <h2>Adding tracking link form for truck owners</h2>
          <label for="fromloc">LOAD ID</label>
          <br>
          <input class="fromloc" type="text" id="fromloc" name="loadid" placeholder="Enter load id">
          <br>

          <label for="toloc">TRACKING LINK</label>
          <br>
          <input class="toloc" type="text" id="toloc" name="tracklink" placeholder="Enter tracking link">
          <br>

          <input class="btn btn-2" type="submit" value="Submit" id="btn1">
        </form>
              
        </div>    
    </div>
    

</body>
</html>
